body {
  background-color: black;
  color: white;
  font-family: "DM Sans", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
  background-color: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;

}

.sidebar nav ul li {
  padding: 10px 0;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.library {
  margin-top: 20px;
  background-color: #121212;
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.library__content {
  display: flex;
  justify-content: space-between;
}

/* ?? */

.library .library__button {
  display: flex;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 8px;
  padding: 20px 10px;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  border: 0px;
}

.library .library__button .fa {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
  padding-right: 8px;
}

#plusIcon {
  margin: 24px 10px;
}

.playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 300;
  border-radius: 8px;
  margin-top: 8px 0;
  padding: 16px 20px;
}

.playlist .playlist__content {
  display: flex;
  flex-direction: column;
}

.playlist button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  color: #121212;
  font-size: 12px;
  font-weight: 700;
  width: 113px;
  margin-top: 12px;
  border: none;
}

.playlist h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}

.playlist span {
  font-weight: 500;
  font-size: 12px
}

.cookies {
  margin: 25px 20px;
}

.cookies a {
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 500;
  font-size: 10px;
  margin: 10px;
}

.cookies a:hover {
  text-decoration: underline;
}

.languages button {
  background-color: transparent;
  border: 1px #878787 solid;
  color: #fff;
  align-items: center;
  border-radius: 20px;
  margin: 8px;
  padding: 8px;
  width: 170px;
  font-size: 13px;
  font-weight: bold;
  margin: 20px 0 20px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(to right, #c300ffef, #4343f3);
  padding: 12px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 7%;
}

.footer h3 {
  display: block;
  font-size: 13px;
  padding-bottom: 7px;
}

.footer span {
  display: block;
  font-size: 12px;
}

.footer button {
  margin-left: auto;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #f3eeee;
  padding: 10px;
  color: #121212;
  font-size: 12px;
  font-weight: 700;
  width: 10rem;
  border: none;
}